html {
    font-size:22px
}
body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: rgb(12, 128, 230);
}
a:visited {
    color: rgb(158, 158, 158);
}
a:hover, a:active {
    color: #eee;
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}